.banner-container {
    display: flex;
    flex-direction: column;
    /* margin-left: 10vw; */
    width: 100vw;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #fdf9f6;
    padding: 1vw 4vw;
    /* margin-right: 2vw; */
}

.banner-wallpaper {
    width: 100%;
    height: width;
    /* background-color: #5073D6; */
    

}

.banner-background {
    /* margin-top: 10vw; */
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image-container {
    background-color: white;
    width: 60%;
    margin-left: 20%;
    margin-top: -30%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}
.banner-image {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
}


.banner-image-overlay {
    width: 20vw;
    height: width;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Container for overlaying images */
    background-color: aqua;
    margin-top: 18vw;
    padding: 8vw;
  }

  .banner-logo-0 {
    width: 40vw;
    background-color: #fdf9f6; 
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s; 
    z-index: 1;
}

  .banner-overlay-logo-0 {
    width: 21vw;
    margin-bottom: 0.75vw;
    position: absolute;
    transition: transform 0.5s; 
    z-index: 2; 
  }

.banner-image-overlay:hover .banner-logo {
    transform: scale(1.2) rotate(360deg); /* Combine transforms */
}
.banner-image-overlay:hover .banner-overlay-logo {
    transform: scale(1.2) rotate(-360deg); /* Combine transforms */
}

.banner-header-text {
    margin-top: 8vw;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #6d6c6c; 
    text-align: center;
    display: flex;
    flex-direction: column;
}
.banner-header-text h0 {
    width: 100%;
    /* padding-left: 12%; */
    /* padding-right: 10%; */
    font-size: 7vw;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #6d6c6c; 
    font-family: 'Exo 2', cursive;
    margin-bottom: 2vw;
}

.banner-header-text h1 {
    width: 100%;
    /* padding-left: 12%; */
    /* padding-right: 10%; */
    font-size: 3vw;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #6d6c6c; 
    font-family: 'Ubuntu', cursive;
    margin-bottom: 2vw;

}

.banner-header-text h2 {
    width: 100%;
    /* padding-left: 12%; */
    /* padding-right: 10%; */
    font-size: 2.5vw;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #6d6c6c; 
    font-family: 'EB Garamond', cursive;
    margin-bottom: 2vw;
}

.banner-header-text h3 {
    width: 30%;
    margin-left: 35%;
    /* padding-left: 12%; */
    /* padding-right: 10%; */
    font-size: 1.5vw;
    font-weight: bold;
    color: #fdf9f6;
    text-shadow: 1px 1px 2px #6d6c6c; 
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Libre Baskerville', cursive;
    background-color: #5073D6;

}

.mission-section {
    width: 60%;
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mission-section img {
    width: 20vw;
}

.mission-section h1 h2 {
    font-size: 5vw;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #6d6c6c; 
    text-align: center;
    font-family: 'Exo 2', cursive;
}

.lessons-container {
  width: 60%;
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5vw;
}

.lessons-section {
  width: 48%; /* Adjust width to control spacing between sections */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.mission-statement {
  text-align: center;
  margin-bottom: auto; /* Pushes the image to the bottom */
}
.lessons-section img {
  width: 90%;
  align-self: flex-end; /* Aligns the image to the bottom of the container */
  margin-top: auto; /* Pushes the image to the bottom */
}

.offering-statement {
  width: 80%;
  margin-left: 10%;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

@media (max-width: 4096px) {
  .mission-statement h1, .mission-statement h2 {
      font-size: 4.2vw;
    }
  }

  @media (max-width: 2048px) {
    .mission-statement h1, .mission-statement h2 {
        font-size: 3.6vw;
      }
  }

  @media (max-width: 1536px) {
    .mission-statement h1, .mission-statement h2 {
      font-size: 2.4vw;
    }
  }

  @media (max-width: 1024px) {
    .mission-statement h1, .mission-statement h2 {
        font-size: 2.4vw;
      }
  }

  @media (max-width: 767px) {
    .mission-statement h1, .mission-statement h2 {
        font-size: 1.5vw;
      }
  }

  @media (max-width: 512px) {
    .mission-section h1 h2 {
        font-size: 1.2vw;
      }
  }



